body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: #21212E;
  margin: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  color: #F5F2FF;
}


/* Navigation CSS - start - */
a:link{
color: black;
}
header, li, a, button{
cursor: pointer;
font-weight: 700;
font-size: 1vw; 
text-decoration: none;
}

a {
  color: #F5F2FF !important;
  text-decoration: none !important;
}

header{
position: sticky;
top: 0; 
background-color: #21212e;
overflow: hidden;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 5vw; 
}
.nav-links {
list-style: none;
display: flex;
gap: 1vw;
align-items: center;
}
.nav-links li {
display: inline-block;
}
.nav-links li a {
text-decoration: none;
transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
text-decoration: none;

color: #007bff;
}
button {
  padding: 0.5vw 1.5vw; 
  background-color: #8482A7;
  color: #F5F2FF;
  border: none;
  border-radius: 50px; 
  transition: all 0.3s ease 0s;
}

button:hover {
background-color: rgba(82, 102, 126, 0.8);
}

.search{
width: max-content;
display: flex;
align-items: center;
padding: 0.5vw 1vw; 
border-radius: 28px;
background: #383843;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
transition: background-color 0.3s ease;
}
.search:hover {
  background: #F5F2FF; 
}

.search:hover .search-icon {
  color: #383843; 
}

.search:hover ::placeholder {
  color: #383843; 
}
.search-input{
font-size: 1vw; 
color: #333333;
margin-left: 1vw; 
outline: none;
border: none;
background: transparent;
width: 40vw; 
}


.search-input::placeholder {
  color: #F5F2FF; 
}

/* Navigation CSS - end - */

/* Index page */
.banner {
  margin: 1vw auto; 
  width: 90%;
  height: 15vw; 
  background-color: #E6E8E6;
  border-radius: 0.5vw; 
}
.banner img {
  height: 15vw; 
  width: 100%;
  object-fit: cover;
  max-height: 300px;
}

.categories {
  display: flex;
  flex-direction: column;
  font-size: 1vw; 
}

.cat-header h2{
  font-size: 1.3vw;
  margin: 0.4vw;
}

.scroll-left-button{
  font-size: 1vw;
}

.category {
  height: 15vw; 
  min-width: 15vw;
  background-color: #383843;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1vw; 
  color: #f8f8f8;
  box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.2); 
  gap: 0.5vw; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.category:hover {
  transform: scale(1.05); 
  box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.3); 
}

.category img {
  height: 10vw; 
  align-content: center;
  border-radius: 0.5vw; 
}


.listings h2{
  font-size: 1.3vw; 
  margin: 0
}

.listings {
  display: flex;
  gap: 1vw; 
  justify-content: center;
  padding: 1vw; 
  flex-direction: column;
}
.grid{
display: flex;
gap: 2.5vw; 
justify-content: center;
}
.cat-grid {
  display: flex;
  gap: 2.5vw; 
  justify-content: left;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 0.25vw; 
  padding-bottom: 0.25vw; 
}
.cat-grid::-webkit-scrollbar {
display: none;
}
.cat-header{
display: flex;
justify-content: space-between;
padding-right: 5%;
}
.cat-header button{
background-color: #383843;
color: white;
border: none;
border-radius: 1.25vw; 
padding: 0.5vw 1vw; 
margin: 0.5vw; 
}


.listing {
  height: 24vw; 
  width: 15vw;
  background-color: #47465a;
  display: flex;
  flex-direction: column;
  gap: 0.25vw; 
  border-radius: 0.5vw; 
  box-shadow: 0 4px 8px rgba(153, 151, 151, 0.1); 
}

  
.listing img {
  height: 15vw; 
  border-radius: 0 0.5vw 0.5vw 0; 
  align-self: center;
}


.listing-icon {
  padding-top: 0.5vw; 
  display: flex;
  gap: 1vw; 
  align-items: center;
}


.listing h5{
font-size: 0.8vw;
padding-left: 10px;
margin: 0;
}




.listing-icon img {
  height: 3.5vw; 
  width: 3.5vw; 
  border-radius: 1.75vw; 
  padding-left: 0.5vw; 
}


.listing-image {
  display: flex;
  height: 16vw; 
  width: 36vw; 
  background-color: #47465a;
  justify-content: center;
}

/* Listing page */

.listing-image-small{
cursor: pointer;
height: 10vw; 
width: 10vw; 
background-color: #21212e;
display: flex;
justify-content: center;
padding: 0.5vw;
}
.listing-image-small img{
height: 10vw; 
border-radius: 0.5vw; 
}

.small-listing-image{
display: flex;
gap: 20px;
}
.profile{
display: flex;
align-items: center;
gap: 20px;
}
.profile img {
  height: 2.5vw; 
  width: 2.5vw; 
  border-radius: 1.25vw; 
  padding-left: 0.5vw; 
}
.listing-page{
display: flex;
gap: 20px;
padding: 20px;
align-items: flex-start;
justify-content: center;
background-color: #47465a;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
margin: 20px auto;
width: 90%;
}

.listing-page-left{
  display: flex;
  flex-direction: column;
  gap: 0.5vw; 
}


.listing-page-right {
  display: flex;
  flex-direction: column;
  gap: 0.5vw; 
}


.listing-page-right h4,
.listing-page-right h2,
.listing-page-right h3 {
margin: 0;
}

.listing-page-right h2 {
  font-size: 2vw; 
  color: #F5F2FF;
}

.listing-page-right h3 {
  font-size: 1.5vw; 
  color: #F5F2FF;
}

.listing-page-right h4 {
  font-size: 1.25vw; 
  color: #F5F2FF;
}


.details {
  height: 7.5vw; 
  width: 20vw; 
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  padding: 0.5vw; 
  margin: 0;
  border: 0;
  border-radius: 0.5vw; 
  background-color: #21212e;
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1); 
}

.details h4,
.details p {
  margin: 0.25vw 0; 
  font-size: .9vw;
}




.details button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #42424d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

.details button:hover {
background-color: #1c3052;
}
.listing-image img{
  height: 15vw; 
  border-radius: 0.5vw; 
}

/* Chatbox */
.chatbox-container {
    position: relative;
    overflow: hidden;
}

.chatbox {
margin: 0;
padding: 0;
padding-right: 1vw; 
box-sizing: border-box;
font-family: "Inter", sans-serif;
max-height: 40vw; 
}
#chatbox-toggler {
position: fixed;
bottom: 1.5vw; 
right: 4vw; 
border: none;
height: 2.5vw; 
width: 2.5vw; 
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: all 0.3s ease;
color: #d2cfca;
overflow: hidden; 
}
#chatbox-toggler span {
color: #d2cfca;
position: absolute;
}

body.show-chatbot #chatbox-toggler {
transform: rotate(90deg);
}


body.show-chatbot #chatbox-toggler span:first-child {
opacity: 0;
}

#chatbox-toggler span:last-child {
opacity: 0;
}


body.show-chatbot #chatbox-toggler span:last-child {
opacity: 1;
}

.chatbot-popup {
position: fixed;
right: 50px; 
bottom: 90px;
width: 420px;
background: #d2cfca;
overflow: hidden;
border-radius: 15px;
opacity: 0;
transform-origin: bottom right;
pointer-events: none;
box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1);
transition: all 0.3s ease;
}

body.show-chatbot .chatbot-popup {
opacity: 1;
pointer-events: auto;
transform: scale(1); 
}

.chat-header {
display: flex;
align-items: center;
background: #0f1a2c;
padding: 15px 22px;
justify-content: space-between;
box-sizing: border-box; 
z-index: 2; 
}

.chat-header .header-info {
display: flex;
gap: 10px;
align-items: center;
}

.header-info .chatbox-logo {
height: 35px;
width: 35px;
padding: 6px;
flex-shrink: 0;
background: #d2cfca;
border-radius: 50%;
}

.header-info .logo-text {
color: #d2cfca;
font-size: 1.31rem;
font-weight: 600;
}

.chat-header #close-chatbot{
border: none;
color: #d2cfca; 
height: 40px;
width: 40px;
font-size: 1.9rem;
margin-right: -10px;
padding: 0; 
cursor: pointer;
border-radius: 50%;
background: none;
transition: 0.2s ease;
display: flex;
align-items: center;
justify-content: center; 
}
.chat-header #close-chatbot:hover{
transition: 0.2 ease;
background: #1c3052;
color: #d2cfca;
}

.chat-body {
padding: 25px 22px;
display: flex;
gap: 20px;
height: 460px;
margin-bottom: 82px;
overflow-y: auto;
flex-direction: column;
scrollbar-width: thin;
scrollbar-color: #294678 #d2cfca;
max-height: calc(80vh - 200px); 
overflow-x: hidden; 
padding-bottom: 100px; 
}

.chat-body .message{
display: flex;
gap: 10px;
align-items: center;
}

.chat-body .bot-message .bot-avatar {
height: 35px;
width: 35px;
padding: 6px;
fill: #d2cfca;
margin-bottom: 2px;
align-self: flex-end;
flex-shrink: 0;
background: #0f1a2c;
border-radius: 50%;
}

.chat-body .user-message {
flex-direction: column;
align-items: flex-end;
}

.chat-body .message .message-text {
padding: 12px 16px;
max-width: 75%;
font-size: 0.95rem;
}

.chat-body .bot-message .message-text {
border-radius: 13px 13px 13px 3px;
background: #294678;
color: #d2cfca;
}

.chat-body .user-message .message-text {
border-radius: 13px 13px 3px 13px;
background: #1c3052;
color: #d2cfca;
}

.chat-footer {
position: absolute;
width: 100%;
bottom: 0;
background: #d2cfca;
padding: 15px 22px 20px;
box-sizing: border-box; 
max-height: 20vh; 
overflow: hidden; 
z-index: 1; 
}

.chat-footer .chat-form {
display: flex;
align-items: center;
align-self: center;
background: #d2cfca;
border-radius: 32px;
outline: 1px solid #000;
}

.chat-footer .chat-form:focus-within {
outline: 2px solid #294678;
}


.chat-form .message-input {
background: #d2cfca;
border: none;
outline: none;
height: 47px;
width: 100%;
resize: none;
max-height: 180px;
font-size: 0.95rem;
padding: 14px 0  13px 18px;
border-radius: inherit;
scrollbar-width: thin;
scrollbar-color: #d2cfca transparent;
color: #21212E; 
}

.chat-form .message-input:hover {
background: #d2cfca;
scrollbar-color: #294678 transparent;
}


.chat-form .chat-controls {
display: flex;
height: 47px;
gap: 3px;
align-items: center;
align-self: center;
padding-right: 6px;
justify-content: center; 
position: absolute; 
bottom: 2vw; 
right: 1vw; 
}

.chat-form .chat-controls button {
height: 35px;
width: 35px;
border: none;
font-size: 1.15rem;
cursor: pointer;
color: #294678;
background: #fffbf4;
border-radius: 50%;
transition: 0.2s ease;
display: flex;
align-items: center;
justify-content: center; 
padding: 0; 
}

.chat-form .chat-controls #send-message {
color: #fffbf4;
display: none;
background: #294678;
}

.chat-form .message-input:valid~.chat-controls #send-message {
display: block;
}

.chat-form .chat-controls #send-message:hover {
background: #294678;
}


.chat-form .chat-controls button:hover {
background: #294678;
color: #fffbf4;
}


/* List item */

.list-items {
padding-top: 10px;
background-color: #383843;
height: 700px;
width: 80vw;
margin: 0 auto;
border-radius: 10px;
display: flex;
justify-content: space-evenly;
align-items: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

.list-left-side{
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
}
.list-right-side {
display: flex;
flex-direction: column;
background-color: #3c3c54; 
padding: 1vw; 
border-radius: 0.5vw; 
gap: 0.5vw; 
width: 30vw;
height: 20vw; 
font-size: 1vw;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.list-right-side:hover {
  background-color: #47465a; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}


.form-items-left {
    height: 2.5vw; 
    width: 30vw; 
    background-color: #47465a;
    display: flex;
    gap: 0.5vw; 
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw; 
}


.create-list-image {
  height: 10vw; 
  width: 10vw; 
  background-color: #47465a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5vw; 
}


.create-list-image-big {
  height: 20vw; 
  width: 20vw; 
  background-color: #47465a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5vw; 
}



.create-list-images {
  display: flex;
  gap: 1vw; 
}


.create-list-image img {
  max-height: 10vw; 
  border-radius: 0.5vw; 
  width: auto; 
}


.list-right-side input,
.list-right-side select,
.list-right-side textarea {
    width: 100%;
    padding: 0.5vw; 
    border: 0.05vw solid #ccc; 
    border-radius: 0.25vw; 
    box-sizing: border-box;
}

/* Profile */

.profile-image img {
  height: 5vw; 
  border-radius: 2.5vw; 
}

.profile-header {
display: flex;
background-color: #3c3c54;
max-width: 30vw;
align-items: center;
justify-content: center;
gap: 2vw; 
margin-left: 4.2vw;
border-radius: 1vw; 
font-size: 1vw;
}
.list-right-side textarea {
  font-size: .9vw;
}

.profile-rating h2, h3{
  margin: 0;
}
.profile-joined h2, h3{
  margin: 0;
}

.listing-review {
display: flex;
margin-left: 4.2vw;
font-size: 0.8vw; 
}

.listing-review a {
  font-size: 0.8vw; 
}

.profile-listing {
  padding: 0.5vw;
}
.profile-reviews {
  padding: 0.5vw;
}



.hidden {
  display: none;
}

.profile-listings {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw; 
  margin-left: 5vw;
  background-color: #3c3c54;
  max-width: 70vw; 
  padding: 1vw; 
  border-radius: 0.5vw; 
  font-size: 1vw;
}

.profile-review-tab {
  margin-left: 4.2vw;
  background-color: #383843;
  max-width: 75vw; 
  padding: 1vw; 
  border-radius: 0.5vw; 
}

.profile-listing-qty {
  width: calc(20% - 2vw); 
  text-align: left;
  background-color: #383843;
  padding: 0.5vw; 
  border-radius: 0.5vw; 

}

.profile-listing-qty h3 {
  font-size: 0.8vw;
}


.profile-listing-qty img {
    height: 16vw; 
    object-fit: cover; 
    border-radius: 0.3vw; 
}

.profile-review-tab{
  display: flex;
  flex-direction: column;
  gap: 1vw; 
}
.reviewer {
  display: flex;
  gap: 1vw; 
  margin-bottom: 1vw; 
  align-items: center;
}
.reviewer img {
  width: 3vw; 
  height: 3vw; 
  border-radius: 1.5vw; 
}

.footer-images{
  display: flex;
  gap: 1vw; 
  justify-content: space-around;
  padding: 1vw; 
}

footer h2{
  margin-left: 1.5vw;
  font-size: 1.4vw;
}

.f-images {
  display: flex;
  flex-direction: column;
  gap: 1vw; 
  align-items: center;
}

/* User chat */

.messages-both {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #383843; 
}

.messages-left {
  padding: 3vw;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #21212e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 70vh; 
}

.messages-right {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #21212e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.image-user-chat h4{
  margin: 2px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-chat {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 0;
  background-color: #21212e;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  justify-content: space-around;
}

.user-chat:hover {
  background-color: #f5f2ff;
}

.user-chat:hover h3 {
  color: #21212e;
}
.user-chat:hover h4 {
  color: #21212e;
}
.user-chat:hover p {
  color: #21212e;
}


.user-chat-info h4 {
  margin: 0;
}
.user-chat-info p {
  margin: 2px;
}
.user-chat-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-user-chat img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
}

.image-listing-chat img {
  width: 3vw;
  height: 3vw;
  border-radius: 5%;
}

.user-right p {
  margin: 2px;
}

.user-chat {
  gap: 2vw;
}


.text-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #21212e;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.user-message {
  justify-content: flex-end;
  align-self: flex-end; 
}

.bot-message {
  justify-content: flex-start;
}

.message-text {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #e0e0e0;
  color: #333;
}

.user-message .message-text {
  background-color: #d1e7dd;
}

.bot-message .message-text {
  background-color: #f8d7da;
}



.text-chat-footer {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #21212e; 
  border-top: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  align-items: center; 
  justify-content: space-between; 
  color: #F5F2FF; 
  position: absolute; 
  bottom: 0; 
  width: calc(100% - 40px); 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}

.message-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #21212e; 
  color: #F5F2FF; 
}

.send-message {
  padding: 10px 20px;
  background-color: #8482A7;
  color: #F5F2FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-message:hover {
  background-color: #41556b;
}


footer{
  font-size: 1.1vw;
}
.list-qty h3{
  font-size: 0.9vw !important;
}


.categories{
  font-size: 1.1vw;
}
@media screen and (max-width: 1080px) {
  .chatbox{
    display: none;
  }
}



.review-container {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
    max-width: 40vw;
    margin: 0 auto;
    padding: 2vw;
    background-color: #383843;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
}

.review-container h2 {
    text-align: center;
    margin-bottom: 2vw;
    color: #f5f2ff;
    margin: 0;
}



.review-details {
    display: flex;
    align-items: center;
    align-self: center;

    gap: 2vw;
    justify-content: center;
}



.profile-info {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

#profile-image-review {
    width: 5vw;
    height: 5vw;
    border-radius: 50% !important;
    margin-right: 1vw;
}

.listing-info {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

.review-details img {
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
    object-fit: cover;
}

.review-details h3, .review-details p {
    margin: 0;
    color: #f5f2ff;
}

.review-details h3 {
    font-size: 1.2em;

}

.review-details p {
    font-size: 1em;
    color: #777;
}

form {
    display: flex;
    flex-direction: column;
}

form textarea {
    width: 97%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-size: 1em;
    color: #333;
}

form button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #8482A7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

form button:hover {
    background-color: #0056b3;
}

form button:hover {
  background-color: rgba(82, 102, 126, 0.8);
  }

.review-items {
  background-color: #47465a;
  padding: 1vw;
  border-radius: 0.5vw;
}

.b-listings {
  display: flex;
  justify-content: space-around;
}


.b-listing {
  width: 30vw;
  height: 20vw;
  background-color: #21212e;
  display: flex;
  gap: 0.2vw;
}
.b-listing-big {
  width: 14vw;
  height: 20vw;
  background-color: #47465a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
  border-radius: 0.2vw 0 0 0.2vw;
}

.b-listing-small{
  width: 14vw;
  height: 10vw;
  background-color: #47465a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.2vw 0.2vw 0;

}
a h3{
  font-size: 1vw;
  margin: 0;
}

.b-listing-side {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  
}

.b-listing-big img {
  height: 16vw;
  border-radius: 0 0.5vw 0.5vw 0;
}

.b-listing-small img {
  height: 9vw;
  border-radius: 0.5vw;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating{
  border: none;
  float: left;
  padding-left: 0;
  margin: 0;
}

.rating > input{
  display: none;
}

.rating > label:before {
  content: '\f005';
  font-family: 'FontAwesome';
  margin: 5px;
  font-size: 1.2rem;
  display: inline-block;
  cursor: pointer;
}

.rating > .half:before{
  content: '\f089';
  position: absolute;
  cursor: pointer;
}

.rating > label {
  color: #47465a; /* Default color */
  float: right;
  cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{
  color: #21212e; /* Highlight color */
}

.rating >input:checked + label:hover,
.rating >input:checked ~ label:hover,
.rating >label:hover ~ input:checked ~ label,
.rating >input:checked ~ label:hover ~ label{
  color: #21212e; /* Highlight color on hover */
}

button.pressed {
transform: scale(0.95);
background-color: #ccc;
}
